@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifreniz mail'inize gönderildi.";
}

<h1>@ViewData["Title"]</h1>
<p>
   Parolanızı sıfırlamak için lütfen e-postanızı kontrol edin.
</p>

