@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parola sıfırlamayı onayla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Lütfen <a asp-page="./Login">oturum açmak için burayı tıklayın.</a>
</p>
