
@{
    ViewData["Title"] = "OrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Siparişiniz başarıyla oluşturuldu.</h1>

<h3>Satın Aldığınız ürünler en kısa sürede kargoya verilecektir.</h3>

